<rules>
    <clear />
          

    <rule name="Remove SiteID AND index.cfm from URL" enabled="true" stopProcessing="true">
      <match url="^([a-zA-Z0-9_\-/].+)$" ignoreCase="true" />
      <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(someSiteID|anotherSiteID|etc)\b" negate="true" />
      </conditions>
      <action type="Rewrite" url="/index.cfm/{R:1}" appendQueryString="true" />
    </rule>


</rules>