<rules>
    <clear />
    <rule name="NumberOne" stopProcessing="true">
        <match url="/chiropractic-exercises-chiropractor-arlington-heights-il/pregnancy-stretches/pigeon-toe-stretch/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com/chiropractic-exercises-chiropractor-arlington-heights-il/pregnancy-chiropractor-arlington-heights-il-dr-katie-sleigh/pigeon-toe-stretch/" redirectType="Permanent" />
    </rule> 


     <rule name="pediatric-chiropractor" stopProcessing="true">
        <match url="/pediatric-chiropractor/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com/chiropractic/pediatric-chiropractors-in-arlington-heights-il-sleigh-family-chiropractic/" redirectType="Permanent" />
    </rule>    

     <rule name="pregnancy-chiropractor" stopProcessing="true">
        <match url="/pregnancy-chiropractor/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com/chiropractic/pregnancy-chiropractors-in-arlington-heights-il-sleigh-family-chiropractic/" redirectType="Permanent" />
    </rule>   

     <rule name="chiropractic-wellness-tips" stopProcessing="true">
        <match url="/chiropractic-wellness-tips/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com/blog/" redirectType="Permanent" />
    </rule>   

     <rule name="pain-relief" stopProcessing="true">
        <match url="/pain-relief/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com/chiropractic/low-back-pain-relief-and-wellness-arlington-heights-il-sleigh-family-chiropractic/" redirectType="Permanent" />
    </rule>   

     <rule name="chiropractic-stretches" stopProcessing="true">
        <match url="/chiropractic-stretches/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com/chiropractic/chiropractic/low-back-pain-relief-and-wellness-arlington-heights-il-sleigh-family-chiropractic/" redirectType="Permanent" />
    </rule>   
    
     <rule name="contact-us" stopProcessing="true">
        <match url="/contact-us/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com/contact/" redirectType="Permanent" />
    </rule>    

     <rule name="testimonials" stopProcessing="true">
        <match url="/testimonials/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com/chiropractic-patient-testimonials/" redirectType="Permanent" />
    </rule>           

     <rule name="Wheeling" stopProcessing="true">
        <match url="/pediatric-adult-chiropractic-wheeling-il-wellness-goals/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com" redirectType="Permanent" />
    </rule>    

     <rule name="Palatine" stopProcessing="true">
        <match url="/pediatric-adult-chiropractic-palatine-il-wellness-goals/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com" redirectType="Permanent" />
    </rule> 
  
          
     <rule name="Lincolnshire" stopProcessing="true">
        <match url="pediatric-adult-chiropractic-linsolnshire-il-wellness-goals/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com" redirectType="Permanent" />
    </rule>                 
           
           
     <rule name="LongGrove" stopProcessing="true">
        <match url="pediatric-adult-chiropractic-long-grove-il-wellness-goals/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com" redirectType="Permanent" />
    </rule>             
     <rule name="ProperPosture" stopProcessing="true">
        <match url="/proper-posture-during-pregnancy-helps-avoid-low-back-pain1/$" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="https://sleighfamilychiropractic.com/blog/proper-posture-during-pregnancy-helps-avoid-low-back-pain/" redirectType="Permanent" />
    </rule>            
          

    <rule name="Remove SiteID AND index.cfm from URL" enabled="true" stopProcessing="true">
      <match url="^([a-zA-Z0-9_\-/].+)$" ignoreCase="true" />
      <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(someSiteID|anotherSiteID|etc)\b" negate="true" />
      </conditions>
      <action type="Rewrite" url="/index.cfm/{R:1}" appendQueryString="true" />
    </rule>


</rules>